{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/CSS/style.css' %}"
    />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <div class="bottom-left-circle"></div>
      <section class="header section" id="header" data-aos="fade-in">
        <div class="navbar">
          <span class="nav-logo">LOGO</span>
          <div class="nav-ele">
            <a href="/" class="nav-home-ele">Home</a>
            <a href="/contact-us" class="nav-contact-ele">Contact-Us</a>
          </div>
        </div>
        <div class="header__data" data-aos="fade-up">
          <h1 class="header__title">
            Order products <br />
            faster, easier
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id
            fermentum sem. Proin dapibus ut est eu elementum. Suspendisse purus
            elit, gravida nec turpis nec, suscipit porta lorem. Integer lobortis
            lorem neque, ut porta lectus iaculis eget. Donec convallis maximus
            velit non congue. Mauris scelerisque massa nisl, a convallis neque
            pretium quis. Curabitur vehicula eros nec pharetra maximus.
          </p>
          <button id="header__button" class="button">Buy now</button>
        </div>
        <div class="header__image-block" data-aos="fade-up">
          <img
            src="http://127.0.0.1:8000/media/images/nike.png"
            alt=""
            id="header__image"
          />
        </div>
      </section>
      <section class="carousel__container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active carousel__item">
              <img
                src="http://127.0.0.1:8000/media/images/carousel-1.jpg"
                alt=""
              />
              <p>01</p>
              <button class="button">Buy this</button>
            </div>
            <div class="item carousel__item">
              <img
                src="http://127.0.0.1:8000/media/images/carousel-2.jpg"
                alt=""
              />
              <p>02</p>
              <button class="button">Explore</button>
            </div>
            <div class="item carousel__item">
              <img
                src="http://127.0.0.1:8000/media/images/carousel-3.jpg"
                alt=""
              />
              <p>03</p>
              <button class="button">Buy this</button>
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="right carousel-control"
            href="#myCarousel"
            data-slide="next"
          >
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>
      <section class="product__section">
        {% for prod in products %}
        <div class="card">
          <img
            class="card-img-top"
            src="{{prod.image.url}}"
            alt="Card image cap"
            style="width: 100%; height: auto"
          />
          <div class="card-body">
            <h5 class="card-title">{{prod.title}}</h5>
            <p class="card-text">{{prod.description}}</p>
            <span class="card-text">{{prod.price}}</span>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        {% endfor %}
      </section>
      <section class="parallax__section"><div class="parallax"></div></section>
      <footer class="footer__section">
        <button class="button">Contact-us</button>
        <button onclick="topFunction()" class="button" id="scroll__button">
          Scroll up
        </button>
      </footer>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
      function topFunction() {
        document.documentElement.scrollTop = 0;
      }
    </script>
  </body>
</html>
